.divstyle {
    float: left;
    background-color: #EEEEEE;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4);
}
.divpais {
    float: left;
    width: 100%;
    /*background-image: url("../imgs/malta.jpg");*/
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: center;
    background-position: center;
    background-size: cover;
}
.divimgprofile {
    float: left;
    width: 180px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    height: 180px;
    border-radius: 50%;

    /*background-image: url("../imgs/user.jpg");*/
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: center;
    background-position: center;
    background-size: cover;
    
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4);
}
.detalis {
    float: left;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    margin: 0px;
    cursor: default;
    text-align: center;
}
.detalis h5 {
    float: left;
    width: 100%;
    color: #fff;
    margin: 0px;
    margin-top: 12px;
    margin-bottom: 2px;
}
.detalis p {
    float: left;
    width: 100%;
    color: #fff;
    margin: 0px;
    margin-bottom: 12px;
}
.divmenu {
    float: left;
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    /*padding: 5px 22px 22px 22px;*/
}
.divmenu a {
    text-decoration: none;
    color: #000;
}
.divmenu li {
    padding: 5px 22px 5px 22px;
}
.divmenu li:hover {
    background-color: #d8d8d8;
    cursor: pointer;
}